.bubbletea-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 30px;
  gap: 15px;
}

.product-card {
  flex-basis: calc(30% - 10px);
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
