.nav-item-custom {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: black !important;
  margin-right: 1rem;
}

.nav-item-custom:hover {
  color: #8B4513 !important;
}
.nav-button {
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  background-color: #8B4513 !important;
  color: white !important;
}


.nav-button:hover { 
  background-color: white !important;
  color: #8B4513 !important;
}

.nav {
  align-items: center;
}

.logo img {
  width: 60px !important;
  height: auto;
}

.navbar-custom {
  background-color: #C4C4C4 !important;
}




