.logo {
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.nav-item-custom {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: black !important;
  margin-right: 1rem;
}

.nav-item-custom:hover {
  color: #8B4513 !important;
}

.register-button,
.login-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.login-button {
  margin-right: 1rem;
}

.login-button:hover { 
  background-color: white;
  color: #8B4513;
}

.nav {
  align-items: center;
}
