.headerconnect {
  background-color: #C4C4C4 !important;
}
  
  .headerconnect-logout {
    background-color: #8B4513 !important;
    border-color: #8B4513 !important;
    margin-left: auto;
  }
  
  .headerconnect-logout:hover {
    background-color: white !important;
    border-color: #8B4513 !important;
    color: #8B4513 !important;
  }

  .Header-connect-align {
    align-items: right;
  }
  
  .logo img {
    width: 60px;
    height: auto;
  }
  