.hero-connect {
  position: relative;
  background-color: #8B4513 !important;
}

.hero-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.logout-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #8B4513;
  border-color: #8B4513;
  color: white;
}

.logout-button:hover {
  background-color: #6A350A;
  border-color: #6A350A;
  color: white;
}
