.product-card {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-info {
  padding: 20px;
}

.product-title {
  color: orange;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 40px;
  max-height: 40px;
}

.product-price {
  color: orange;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}

.add-to-cart-button {
  background-color: #8B5A2B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  align-self: center;
}

.add-to-cart-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #8B5A2B;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
}

@media screen and (max-width: 991px) {
  .product-card {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .product-card {
    flex-basis: 100%;
  }
}

.btn-coffee {
  color: white;
  background-color: #4C2F27;
  border-color: #4C2F27;
}

.btn-coffee:hover {
  color: black;
  background-color: white;
  border-color: #4C2F27;
}

.the-banner {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}

.product-description {
  min-height: 80px;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product-description.truncate {
  max-height: 40px;
  -webkit-line-clamp: 2;
}

.read-more-button {
  background: none;
  border: none;
  color: #4C2F27;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 5px;
  padding: 0;
  text-decoration: underline;
}

.read-more-button:focus {
  outline: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-more-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-name-price {
  justify-content: space-between;
  width: 100%;
}

.expanded {
  height: auto;
}



