.register-container {
    background-color: black;
    color: #F58605;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
  }
/*  */
  
  .password-hint {
    color: white;
  }
  